{% include 'emails/_style.html.twig' %}

<p>Hallo {{name}}!</p>

<p>Iemand, hopelijk jij, heeft gevraagd om het wachtwoord voor jouw HoZT-account opnieuw in te stellen op <a href="{{absolute_url('/')}}">https://www.hozt.be</a>.</p>

<p>Als je dit verzoek niet hebt uitgevoerd, kan je deze e-mail veilig negeren.</p>

<p>Klik anders op de onderstaande link om het proces te voltooien.</p>

<p><a href="{{absolute_url(link)}}">Wachtwoord instellen</a></p>

<p class="small text-muted">Je ontvangt deze e-mail vanwege je account op <a href="{{absolute_url('/')}}">hozt.be</a>.</p>
