{% include 'emails/_style.html.twig' %}

<p>Hallo {{name}}!</p>

<p>Iemand, hopelijk jij, heeft een nieuw wachtwoord ingesteld voor jouw <a href="{{absolute_url('/')}}">Kinderkoor Jubilate</a> account.</p>

<p>Als je dit verzoek niet hebt uitgevoerd, neem dan contact op met de <a href="mailto:{{webmaster}}">webmaster</a>.</p>

<p class="small text-muted">Je ontvangt deze e-mail vanwege je account op <a href="{{absolute_url('/')}}">kinderkoorjubilate.be</a>.</p>
