{% for alert in ['danger','warning','success'] %}
  {% for flashMessage in app.session.flashbag.get(alert) %}
    <div class="alert alert-{{alert}} alert-dismissible fade fade-in mt-3 show" role="alert">
      {{ flashMessage }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
{% endfor %}
